.style-0 {
  border: 0px solid rgb(255, 255, 255);
  /* box-sizing: border-box; */
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-1 {
  margin: 0px 0px 16px;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-2 {
  font-weight: 700;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-3 {
  font-family: Menlo, sans-serif;
  font-size: 12px;
  border: 0.8px solid rgba(247, 250, 255, 0.12);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.07);
  border-color: rgba(247, 250, 255, 0.12);
  color: rgba(239, 241, 246, 0.75);
  border-radius: 5px;
  border-width: 0.8px;
  line-height: 16px;
  padding: 2px;
  white-space: pre-wrap;
  border-style: solid;
  overflow-wrap: break-word;
}

.style-4 {
  font-family: Menlo, sans-serif;
  font-size: 12px;
  border: 0.8px solid rgba(247, 250, 255, 0.12);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.07);
  border-color: rgba(247, 250, 255, 0.12);
  color: rgba(239, 241, 246, 0.75);
  border-radius: 5px;
  border-width: 0.8px;
  line-height: 16px;
  padding: 2px;
  white-space: pre-wrap;
  border-style: solid;
  overflow-wrap: break-word;
}

.style-5 {
  margin: 0px 0px 16px;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-6 {
  list-style: outside none disc;
  margin: 0px 16px 16px;
  padding: 0px;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 0px;
  list-style-type: disc;
  margin-left: 16px;
  margin-right: 16px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-7 {
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 12px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-8 {
  font-family: Menlo, sans-serif;
  font-size: 12px;
  border: 0.8px solid rgba(247, 250, 255, 0.12);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.07);
  border-color: rgba(247, 250, 255, 0.12);
  color: rgba(239, 241, 246, 0.75);
  border-radius: 5px;
  border-width: 0.8px;
  line-height: 16px;
  padding: 2px;
  white-space: pre-wrap;
  border-style: solid;
  overflow-wrap: break-word;
}

.style-9 {
  font-family: Menlo, sans-serif;
  font-size: 12px;
  border: 0.8px solid rgba(247, 250, 255, 0.12);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.07);
  border-color: rgba(247, 250, 255, 0.12);
  color: rgba(239, 241, 246, 0.75);
  border-radius: 5px;
  border-width: 0.8px;
  line-height: 16px;
  padding: 2px;
  white-space: pre-wrap;
  border-style: solid;
  overflow-wrap: break-word;
}

.style-10 {
  font-family: Menlo, sans-serif;
  font-size: 12px;
  border: 0.8px solid rgba(247, 250, 255, 0.12);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.07);
  border-color: rgba(247, 250, 255, 0.12);
  color: rgba(239, 241, 246, 0.75);
  border-radius: 5px;
  border-width: 0.8px;
  line-height: 16px;
  padding: 2px;
  white-space: pre-wrap;
  border-style: solid;
  overflow-wrap: break-word;
}

.style-11 {
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 12px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-12 {
  font-family: Menlo, sans-serif;
  font-size: 12px;
  border: 0.8px solid rgba(247, 250, 255, 0.12);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.07);
  border-color: rgba(247, 250, 255, 0.12);
  color: rgba(239, 241, 246, 0.75);
  border-radius: 5px;
  border-width: 0.8px;
  line-height: 16px;
  padding: 2px;
  white-space: pre-wrap;
  border-style: solid;
  overflow-wrap: break-word;
}

.style-13 {
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 12px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-14 {
  font-family: Menlo, sans-serif;
  font-size: 12px;
  border: 0.8px solid rgba(247, 250, 255, 0.12);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.07);
  border-color: rgba(247, 250, 255, 0.12);
  color: rgba(239, 241, 246, 0.75);
  border-radius: 5px;
  border-width: 0.8px;
  line-height: 16px;
  padding: 2px;
  white-space: pre-wrap;
  border-style: solid;
  overflow-wrap: break-word;
}

.style-15 {
  margin: 0px 0px 16px;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-16 {
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-17 {
  font-weight: 700;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-18 {
  font-weight: 700;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-19 {
  font-family: Menlo, sans-serif;
  font-size: 12px;
  border: 0.8px solid rgba(247, 250, 255, 0.12);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.07);
  border-color: rgba(247, 250, 255, 0.12);
  color: rgba(239, 241, 246, 0.75);
  border-radius: 5px;
  border-width: 0.8px;
  line-height: 16px;
  padding: 2px;
  white-space: pre-wrap;
  border-style: solid;
  overflow-wrap: break-word;
}

.style-20 {
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-21 {
  font-weight: 700;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-22 {
  margin: 0px 0px 16px;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-23 {
  margin: 0px 0px 16px;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-24 {
  font-weight: 700;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-25 {
  margin: 16px 0px;
  font-family: Menlo, sans-serif;
  font-size: 14px;
  border: 0px solid rgba(239, 241, 246, 0.75);
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 16px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.07);
  color: rgba(239, 241, 246, 0.75);
  border-radius: 8px;
  line-height: 20px;
  padding: 16px;
  white-space: pre-wrap;
  border-width: 0px;
  border-style: solid;
  border-color: rgba(239, 241, 246, 0.75);
  overflow-wrap: break-word;
}

.style-26 {
  font-weight: 700;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-27 {
  font-weight: 700;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-28 {
  font-weight: 700;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-29 {
  margin: 0px 0px 16px;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-30 {
  font-weight: 700;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-31 {
  margin: 16px 0px;
  font-family: Menlo, sans-serif;
  font-size: 14px;
  border: 0px solid rgba(239, 241, 246, 0.75);
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 16px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.07);
  color: rgba(239, 241, 246, 0.75);
  border-radius: 8px;
  line-height: 20px;
  padding: 16px;
  white-space: pre-wrap;
  border-width: 0px;
  border-style: solid;
  border-color: rgba(239, 241, 246, 0.75);
  overflow-wrap: break-word;
}

.style-32 {
  font-weight: 700;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-33 {
  font-weight: 700;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-34 {
  font-weight: 700;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-35 {
  margin: 0px 0px 16px;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-36 {
  margin: 0px 0px 16px;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-37 {
  font-weight: 700;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-38 {
  list-style: outside none disc;
  margin: 0px 16px 16px;
  padding: 0px;
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 0px;
  list-style-type: disc;
  margin-left: 16px;
  margin-right: 16px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-39 {
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 12px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-40 {
  font-family: Menlo, sans-serif;
  font-size: 12px;
  border: 0.8px solid rgba(247, 250, 255, 0.12);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.07);
  border-color: rgba(247, 250, 255, 0.12);
  color: rgba(239, 241, 246, 0.75);
  border-radius: 5px;
  border-width: 0.8px;
  line-height: 16px;
  padding: 2px;
  white-space: pre-wrap;
  border-style: solid;
  overflow-wrap: break-word;
}

.style-41 {
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 12px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-42 {
  font-family: Menlo, sans-serif;
  font-size: 12px;
  border: 0.8px solid rgba(247, 250, 255, 0.12);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.07);
  border-color: rgba(247, 250, 255, 0.12);
  color: rgba(239, 241, 246, 0.75);
  border-radius: 5px;
  border-width: 0.8px;
  line-height: 16px;
  padding: 2px;
  white-space: pre-wrap;
  border-style: solid;
  overflow-wrap: break-word;
}

.style-43 {
  top: -4.5px;
  font-size: 9px;
  line-height: 0px;
  position: relative;
  vertical-align: baseline;
  border: 0px solid rgba(239, 241, 246, 0.75);
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgba(239, 241, 246, 0.75);
  overflow-wrap: break-word;
}

.style-44 {
  border: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 12px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

.style-45 {
  font-family: Menlo, sans-serif;
  font-size: 12px;
  border: 0.8px solid rgba(247, 250, 255, 0.12);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.07);
  border-color: rgba(247, 250, 255, 0.12);
  color: rgba(239, 241, 246, 0.75);
  border-radius: 5px;
  border-width: 0.8px;
  line-height: 16px;
  padding: 2px;
  white-space: pre-wrap;
  border-style: solid;
  overflow-wrap: break-word;
}

.style-46 {
  top: -4.5px;
  font-size: 9px;
  line-height: 0px;
  position: relative;
  vertical-align: baseline;
  border: 0px solid rgba(239, 241, 246, 0.75);
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgba(239, 241, 246, 0.75);
  overflow-wrap: break-word;
}
